.place__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0 0 48px 0;
    grid-area: title;
}

@media screen and (max-width: 768px){
    .place__title {
        font-size: 42px;
        line-height: 1.6;
    }
}


@media screen and (max-width: 320px){
    .place__title {
        font-size: 35px;
        line-height: 1.5;
        padding: 35px 0 0 16px;
        
    }
}