.places {
    max-width: 100%;
    margin: 0 auto;
    padding: 92px 148px 0 148px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 100%;
        padding: 92px 48px 0 48px;
    }
}

@media screen and (max-width: 834px) {
    .places {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 100%;
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 100%;
        padding: 0;

    }
}
