.lead {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 148px 0 148px;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px){
    .lead {
        padding: 48px 48px 0 48px;
    }
}
@media screen and (max-width: 768px){
    .lead {
        padding: 0;
    }
}


@media screen and (max-width: 320px){
    .lead {
        padding: 0;
    }
}
@media screen and (max-width: 319px) {
    .lead {
        max-width: 319px;
    }
}