.place {
    max-width: 100%;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-column-gap: 40px;
    align-self: center;
    justify-self: center;
    grid-template-areas:
        "title url"
        "image text";
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}


@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-column-gap: 32px;
    }
}


@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-column-gap: 28px;
        padding-bottom: 73px;
    }
}



@media screen and (max-width: 622px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "url"
            "image"
            "text";
        width: 100%;
        padding: 0;
        margin: 0;

    }
}

@media screen and (max-width: 320px) {
    .place {
        padding-bottom: 50px;
        grid-row-gap: 32px;

    }
}
